<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Modern Admin Dashboard</title>
    <link rel="stylesheet" href="../css/manage_function.css">
    <link rel="stylesheet" href="../css/Postpersonal.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
   <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header">
            <h3>D<span>ebate</span></h3>
        </div>
        
        <div class="side-content">
            <div class="profile">
              <h4>Admin</h4>
              <small>of Debate Web</small>
            </div>

            <div class="side-menu">
                <ul>
                    <li>
                       <a href="/Home_user" >
                            <span class="las la-home"></span>
                            <small>Home</small>
                        </a>
                    </li>
                    <li>
                       <a href="#" class="active">
                            <span class="las la-user-alt"></span>
                            <small>Manage Users</small>
                        </a>
                    </li>
                    <li>
                       <a href="/Management_Post">
                            <span class="las la-envelope"></span>
                            <small>Manage Posts</small>
                        </a>
                    </li>
                    <li>
                       <a href="">
                            <span class="las la-plus"></span>
                            <small>Create post</small>
                        </a>
                    </li>
                    <li>
                       <a href="">
                            <span class="las la-fire"></span>
                            <small>Popular posts</small>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="main-content">
        
        <header>
            <div class="header-content">
                <label for="menu-toggle">
                    <span class="las la-bars"></span>
                </label>
                
                <div class="header-menu">
                    <label for="#">
                    </label>
                    
                    
                    
                    
                    
                   
                </div>
            </div>
        </header>
        
        
        <main>
            
            <div class="page-header">
                <h1>Manage Users</h1>
                <small>Home / Manage Users</small>
            </div>
            
            <div class="page-content">
            
                


                <div class="records table-responsive">

                    <div class="record-header">
                        <div class="add">
                            <span>Entries</span>
                            <select name="" id="">
                                <option value="">ID</option>
                            </select>
                            <form action="">
                            <button type="submit">Add user</button>
                            </form>
                        </div>

                        <div class="browse">
                           <input type="search" placeholder="Search" class="record-search">
                            <select name="" id="">
                                <option value="">Status</option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <table width="100%">
                            <thead>
                                <tr>
                                    <div class="contact-container">
                                        <h2>COMMENT</h2>
                                        <span class="person_comment"><ion-icon name="person"></ion-icon></span>
                                        <form action="/Comment_Post" method="post">
                                            <div class="name_comment">
                                            </div> Username : 
                                          <input type="text"
                                            name="comment"
                                            id="comment"
                                            cols="30"
                                            rows="10"
                                            placeholder="Your Message"
                                          ></input> <br><br>
                                            Password :
                                          <input type="text"
                                            name="comment"
                                            id="comment"
                                            cols="30"
                                            rows="10"
                                            placeholder="Your Message"
                                          ></input>
                                
                                          <button type="submit">Send</button><br><br>
                                        </form>
                                        
                                        <hr>
                                        <div class="name_onComment">
                                            
                                            <span class="person_comment"><ion-icon name="person"></ion-icon></span>
                                            Name
                                            <p>
                                                <div class="message_onComment">you blog is very good bro i fucking love this</div>
                                            </p><br>
                                            <hr>
                                        </div>
                                      </div>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>

                </div>
            
            </div>
            
        </main>
        
    </div>
</body>
</html>