<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Love React Animation</title>
    <link rel="stylesheet" href="../css/likes.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  </head>
  <body>
    <form action="#"> 
            <div class="content">
              <button type="submit" id="" name="" class="like-button"><span class="heart"></span></button>
            </div>
    </form>

    <script>
      $(document).ready(function(){
        $('.content').click(function(){
          $('.content').toggleClass("heart-active")
          $('.text').toggleClass("heart-active")
          $('.numb').toggleClass("heart-active")
          $('.heart').toggleClass("heart-active")
        });
      });
    </script>

  </body>
</html>
