<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>name</th>
            <th>id</th>
            <th>title</th>
            <th>cosnteent</th>
        </tr>

        <%for(let i = 0 ; i < post.length;i++){%>
           
           
            <tr>
                
                <td>
                    <%for(let n = 0; n < user.length;n++){%>
                        <%if(post[i].user_id == user[n].user_id) {%>
                            <%=user[n].username%>
                            <%break%>
                        <%}%>
                    <%}%>
                </td>
                <td> <%= post[i].user_id%></td>
                <td> <%= post[i].title%></td>
                <td> <%= post[i].content%></td>
               
            </tr>
            
            <%}%>
        </table>
</body>
</html>
